<p>请务必认真阅读和理解本《用户服务协议》（以下简称《协议》）中规定的所有权利和限制。除非您接受本《协议》条款，否则您无权注册、登录或使用本协议所涉及的相关服务。您一旦注册、登录、使用或以任何方式使用本《协议》所涉及的相关服务的行为将视为对本《协议》的接受，即表示您同意接受本《协议》各项条款的约束。如果您不同意本《协议》中的条款，请不要注册、登录或使用本《协议》相关服务。</p>
<p><strong>一、服务内容</strong></p>
<p>1.2345影视为2345影视网站（网址:kan.2345.com,以下简称“2345影视”）的所有者及经营者，完全按照其发布的服务条款和操作规则提供基于互联网以及移动互联网的相关服务（以下简称“网络服务”）。2345影视网站网络服务的具体内容由2345影视根据实际情况提供。</p>
<p>2.您一旦注册成功成为用户您将得到一个密码和账号您需要对自己在账户中的所有活动和事件负全责。如果由于您的过失导致您的账号和密码脱离您的控制，则由此导致的针对您、2345影视或任何第三方造成的损害，您将承担全部责任</p>
<p><strong>二、用户使用规则</strong></p>
<p>1. 用户在申请使用2345影视网站网络服务时，必须向2345影视提供准确的个人资料，如个人资料有任何变动，必须及时更新。因用户提供个人资料不准确、不真实而引发的一切后果由用户承担</p>